.carousel {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.carousel-arrow-right {
    order: 3;
}

.carousel-arrow-left {
    order: 1;
}

.carousel-container {
    order: 2;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.carousel-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
