body {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
}

.container {
  margin: 3rem auto;
  border: 1px solid #C1694F;
  height: 100%;
  padding: 3rem 5rem;
  width: 70%;
}
