body {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
}

.container {
  margin: 3rem auto;
  height: 100%;
  padding: 3rem 5rem;
  width: 70%;
  background-color: rgba(193, 105, 79, 0.1);
}

